<section id="content">
    <div class="row">
        <div class="col-md-offset-4 content">

            <p>For questions, comments, or simply to say hello, reach me at:</p>

            <p>
                <label>Personal</label>
                </br>
                <span class="glyphicon glyphicon-envelope"></span> <b><a class = 'green_dark' href="mailto:bilenskaya@gmail.com" data-ga-label="Contact - Email">bilenskaya@gmail.com</a> </b><br>
                <span class="glyphicon glyphicon-phone-alt"></span> <a class = 'green_dark' href="tel:7-926-537-0076" data-ga-label="Contact - Phone">+7 926 5370076</a>
            </p>


            <p><span class="glyphicon glyphicon-map-marker"> I'm currently located in <a data-location href="#map" class = 'green_dark'>Moscow, Russia.</a></p>

        </div>



    </div>



</section>